* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.75);;
    color:black;
}

.navbar-brand{
    margin-left: 10%;
}

.menu-links {
    margin-left: 40%;
}